/* General Styles */
body {
    height: 100vh;
    margin: 0;
    background: 
        radial-gradient(circle, rgba(59, 68, 95, 0.8) 10%, rgba(3, 3, 3, 0.9) 100%), 
        radial-gradient(circle, rgba(255, 0, 0, 0.5), rgba(0, 0, 0, 0.6) 50%);
    background-repeat: repeat;
    background-blend-mode: multiply;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.main-content {
    margin-left: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 230px);
}

.loadouts-content{
    margin-left: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 240px);
}
/* Search Bar Styles */
#searchBar {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Killer Container Styles */
#killerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
    margin-left: 10px;
}

/* Killer Box Styles */
.killer-box {
    display: flex;
    flex-direction: row;
    max-width: 510px;
    min-width: 470px;
    border-radius: 5px;
    background: linear-gradient(to right, #030303, #3b445f);
    color: white;
    margin: 20px 5px 0px 5px;
    padding: 10px;
    position: relative;
    flex: 1;
    height: 275px; /* Set a fixed height for the killer card */
    box-sizing: border-box;
}

/* Left Section of Killer Box */
.killer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 95%; /* Ensure the killer-left div takes the full height */
    box-sizing: border-box; /* Include padding in the height */
}

/* Right Section of Killer Box */
.killer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    padding-left: 20px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    height: 100%; /* Take the full height of the killer box */
}

/* Killer Details */
.killer-details {
    width: 100%; /* Make sure the text field takes the full width */
    text-align: left; /* Align text to the left */
    font-size: 0.9em; /* Adjust font size for better readability */
    background-color: rgba(0, 0, 0, 0.5); /* Add background color for readability */
    padding: 10px; /* Add padding for better text spacing */
    padding-right: 20px; /* Add extra padding to the right to prevent text cutoff */
    border-radius: 5px; /* Round the corners */
    color: #fff; /* Ensure text color is white for readability */
    box-sizing: border-box; /* Include padding in the element's width and height */
}

/* Killer Name */
.killer-name {
    font-size: 1.2em;
    text-align: center; /* Center text */
    margin-bottom: 5px;
    padding-top: 5px; /* Add padding to the top */
}

/* Killer Image */
.killer-image {
    width: auto;
    height: 100%; /* Ensure the image fits within the height of the container */
    border-radius: 10px;
    object-fit: cover; /* Ensure the image covers the container without distortion */
}

/* Killer Info and Stats */
.killer-info, .killer-stats {
    margin-bottom: 5px;
}

.killer-stats p {
    margin: 5px 0;
}

/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}

/* Killers Section Styles */
#killers h2, .killer-name {
    color: red;
    font-family: 'Nosifer', cursive;
    text-shadow: 2px 2px 4px #000000;
}

/* Loadouts Section Styles */
#loadouts h2, .loadouts-title {
    color: #00ff00;
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px 4px #000000;
}

.loadouts-content {
    padding: 20px;
  }

/* Maps Section Styles */
#maps h2 {
    color: #ffcc00;
    font-family: 'Permanent Marker', cursive;
}

/* Guides Section Styles */
#guides h2 {
    color: #ff69b4;
    font-family: 'Rock Salt', cursive;
}

section {
  margin-bottom: 50px;
}

section h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #111;
    color: white;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757;
}
